body, html {
    margin: 0;
    padding: 0;
  }

  .footer {
    margin-bottom: 0;
  }

  .container-fluid::after {
    content: "";
    display: table;
    clear: both;
  }

  #footer{
    background-color: #3f51b5;
  }
  
